// 
//	General styling 
//
//

/*=============== General ===============*/
//* Miscellaneous *//
html {
   font-size: 62.5%;
   //TODO: Using pixels here because of external
   //		frameworks (bootstrap) using it */
   /*font-size: 1px;*/
}

body {
   background-color: $body-bg-color;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
   display: none !important;
}

.hyphenate {
   /*! autoprefixer: off */
   overflow-wrap: break-word;
   word-wrap: break-word;
   -ms-word-break: break-all;
   word-break: break-word;
   -ms-hyphens: auto;
   -moz-hyphens: auto;
   -webkit-hyphens: auto;
   hyphens: auto;
}

/* Restrict targetting to Edge */
_:-ms-lang(x), _::-webkit-meter-bar,
.hyphenate {
   // Avoid Edge hyphenation (overflow prob.)
   word-break: break-all;
}


//* Bootstrap overrides *//
.btn {
   &:focus, &:active, &:active:focus {
      outline: 0;
   }
}

@mixin btn-define($btn-class, $base-color) {
   .#{$btn-class} {
      border: none;
      // font-weight: 600;
      &, &:not(:hover):focus {
         background-color: $base-color;
      }
      &:hover {
         background-color: lighten($base-color, 2%);
      }
      &:active, &:active:focus {
         background-color: darken($base-color, 4%);
      }
   }
}

@include btn-define("btn-default", #e5e5e5);
@include btn-define("btn-primary", $color-primary);
@include btn-define("btn-success", #57BE85);
@include btn-define("btn-info", #65b4ff); //cyan-#54D1F1
@include btn-define("btn-warning", #FDB813);
@include btn-define("btn-danger", #fd7e72);


//* Navbar & Sidebar *//
@import 'navigation';
