// 
//	General styling 
//
//

/*=============== General ===============*/
//* Miscellaneous *//
html {
   font-size: 62.5%;
   //TODO: Using pixels here because of external
   //		frameworks (bootstrap) using it */
   /*font-size: 1px;*/
}

body {
   background-color: $body-bg-color;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
   display: none !important;
}

.hyphenate {
   /*! autoprefixer: off */
   overflow-wrap: break-word;
   word-wrap: break-word;
   -ms-word-break: break-all;
   word-break: break-word;
   -ms-hyphens: auto;
   -moz-hyphens: auto;
   -webkit-hyphens: auto;
   hyphens: auto;
}

/* Restrict targetting to Edge */
_:-ms-lang(x), _::-webkit-meter-bar,
.hyphenate {
   // Avoid Edge hyphenation (overflow prob.)
   word-break: break-all;
}

//* Navbar & Sidebar *//
@import 'navigation';
