// 
//	Navbar & Sidebar styling 
//
//
@import "http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700";
@import "http://fonts.googleapis.com/css?family=Fanwood+Text:400,400italic";

$navbar-top-height: 5.6rem;
$navbar-top-item-hover-color: #fafafa;
$navbar-border-color: #E9EAEB;
$sidebar-menu-entry-padding-left: 2.2rem;
$sidebar-width: 28rem;
$sidebar-width-shrunken: 6rem;
$sidebar-bg-color: #253341;
$header-height: 4.6rem;

/*=============== Navbar-Sidebar ===============*/
body {
   font-size: 1.4rem;
   font-family: "Open Sans", sans-serif;
}

#main {
   margin-top: $navbar-top-height;
   @media (min-width: 768px) {
      margin-top: 0;
   }
}

a:hover, a:focus {
   outline: none;
   text-decoration: none;
}

// Bootstrap override
.form-control {
   color: #7d8282;
   -webkit-box-shadow: none;
   box-shadow: none;
}

.form-control:focus {
   border-color: $color-primary;
   -webkit-box-shadow: none;
   box-shadow: none;
}

//* Navbar *//
#navbar-top {
   height: $navbar-top-height;
   border-top-width: 0;
   margin-bottom: 0;
   // border-top still at 1px by default
   border-left: none;
   border-right: none;
   box-sizing: content-box;
   background-color: $color-primary;
   @media (max-width: 767px) {
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      z-index: 1050;
      border: none;
   }
   @media (min-width: 768px) {
      //margin-left: $sidebar-width;
      background-color: #fefefe;
      border-bottom: 1px solid $navbar-border-color;
   }
   ul {
      margin: 0;
   }
   #navbar-collapse {
      padding: 0;
   }
   #nav-brand {
      display: block;
      height: #{$navbar-top-height - 0.0rem};
      width: $sidebar-width;
      border-right: 1px solid $navbar-border-color;
      font-family: 'Fanwood Text', serif;
      font-size: 3.5rem;
      line-height: 2.2rem;
      font-style: italic;
      color: #fff;
      text-align: center;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      //background-color: $color-primary;
      img {
         height: $navbar-top-height;
      }
   }
   .navbar-form {
      @media (max-width: 767px) {
         margin: 0;
      }
   }
   a.nav-icon {
      height: $navbar-top-height;
      padding: 10px 15px;
      font-size: 2.1rem;
      line-height: 3.4rem;
      color: #7D8282;
      &:hover {
         background-color: $navbar-top-item-hover-color;
         transition: background-color 100ms linear;
      }
      &:not(:hover):focus {
         background-color: unset;
      }
      @media (max-width: 767px) {
         font-size: 2.4rem;
         line-height: 3.8rem;
         color: #fff;
         &:hover, &:focus {
            background-color: unset;
         }
      }
   }
   .navbar-header {
      .navbar-title {
         width: auto;
         height: auto;
         overflow: hidden;
         & > a {
            padding: 0.8rem 0;
            text-align: center;
            font-family: 'Fanwood Text', serif;
            font-size: 3.5rem;
            line-height: 4rem;
            font-style: italic;
            color: #fff;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            &:hover, &:focus {
               background-color: unset;
            }
         }
      }
   }
   #navbar {
      background-color: #fff;
      @media (min-width: 767px) {
         padding-right: 1.5rem;
      }
      & > ul {
         // Overlaps with navbar-top's, but is okay
         border-bottom: 1px solid $navbar-border-color;
         & > li {
            & > a {
               height: $navbar-top-height;
               font-size: 1.6rem;
               line-height: 2.8rem;
               &:hover {
                  background-color: $navbar-top-item-hover-color;
                  transition: background-color 100ms linear;
               }
            }
            &.open > a {
               background-color: $navbar-top-item-hover-color;
               transition: background-color 100ms linear;
            }
            ul.dropdown-menu > li > a {
               padding: 0.3rem 2rem;
               font-size: 1.5rem;
               line-height: 3rem;
               &:focus, &:hover {
                  color: #fff;
                  background-color: mix($color-primary, #000, 85%);
               }
               .dropdown-icon {
                  display: inline-block;
                  width: 2rem;
                  text-align: center;
               }
            }
         }
      }
      .profile-menu {
         img {
            height: 40px;
            margin-top: -8px;
            cursor: pointer;
         }
      }
      .navbar-search {
         margin-top: 0.2rem;
         border-radius: 2rem;
      }
   }
}

//* Sidebar *//
#sidebar {
   display: none;
   width: $sidebar-width;
   margin-top: $navbar-top-height;
   background-color: $sidebar-bg-color;
   // overflow-x: hidden;
   // overflow-y: auto;
   @media (min-width: 768px) {
      display: initial;
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      z-index: 1200;
   }
   .nav-tabs {
      border-bottom: none;
      & > li {
         width: 50%;
         margin-bottom: 0;
         & > a {
            text-align: center;
            background-color: unset;
            color: #fff;
            border: none;
            font-size: 1.8rem;
         }
         &.active {
            & > a {
               color: $color-primary;
               border-bottom: 1px solid $color-primary;
            }
         }
      }
   }
   .tab-content .tab-pane {
      font-size: 1.3rem;
      overflow-x: hidden;
      overflow-y: auto;
   }
   ul {
      list-style: none;
   }
   li {
      display: block;
   }
   a {
      text-decoration: none;
   }
   ul.nav-menu > li {
      &.tab-content-header {
         height: $header-height;
         background-color: #3d5874;
         margin-bottom: 2rem;
         color: #ccc;
         padding: 1.5rem 1.7rem;
         overflow: hidden;
         text-overflow: ellipsis;
         white-space: nowrap;
      }
      &:not(.tab-content-header) {
         & > .menu-entry {
            display: inline-block;
            width: 100%;
            margin: 0;
            padding-right: 0;
            &:hover, &:focus {
               background-color: unset;
            }
            &:not(:hover):focus {
               color: #909090;
            }
            &:hover {
               color: #b4b6b4;
            }
            .menu {
               &-icon, &-title, &-badge {
                  color: #909090;
               }
            }
            .menu-icon {
               float: left;
               font-size: 1.7rem;
            }
            .menu-title {
               padding-top: 0.2rem;
               display: inline-block;
               overflow-wrap: break-word;
               word-wrap: break-word;
               -ms-word-break: break-all;
               word-break: break-word;
            }
            .menu-badge {
               float: right;
               font-size: 1.7rem;
               .dropdown-arrow {
                  padding-left: 40%;
               }
               .label {
                  display: inline-block;
                  position: relative;
                  top: 0.1rem;
                  left: 0.4rem;
                  max-width: 29.1px;
                  padding: 0.4rem 0.6rem;
                  font-size: 1rem;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  white-space: nowrap;
               }
            }
         }
         & > a.menu-entry,
         & > span.menu-entry .menu-entry-collapsible-main,
         & > span.menu-entry .menu-badge {
            padding-top: 1.2rem;
            padding-bottom: 0.8rem;
         }
         & > a.menu-entry {
            padding-left: $sidebar-menu-entry-padding-left;
            .menu-icon {
               width: 15%;
            }
            .menu-title {
               width: 70%;
            }
            .menu-badge {
               width: 15%;
            }
         }
         & > span.menu-entry {
            .menu-entry-collapsible-main {
               display: inline-block;
               width: 85%;
               padding-left: $sidebar-menu-entry-padding-left;
               .menu-icon {
                  width: 18%;
               }
               .menu-title {
                  width: 82%;
               }
            }
            .menu-badge {
               width: 15%;
            }
         }
         & > a.menu-entry:hover,
         & > span.menu-entry .menu-entry-collapsible-main:hover,
         & > span.menu-entry .menu-badge:hover {
            transition: background-color 160ms linear;
            background-color: lighten($sidebar-bg-color, 2.5%);
         }
         &.active {
            & > .menu-entry {
               border-left: 0.3rem solid $color-primary;
               color: #b4b6b4;
               background-color: #2e3f50; //lighten
               &:focus {
                  color: #b4b6b4;
               }
            }
            & > a.menu-entry {
               padding-left: #{$sidebar-menu-entry-padding-left - 0.3rem};
            }
            & > span.menu-entry .menu-entry-collapsible-main {
               padding-left: #{$sidebar-menu-entry-padding-left - 0.3rem};
            }
         }
         & > ul {
            //height: 0;
            //transition: height 220ms linear;
            overflow: hidden;
            background: rgba(19, 34, 50, 0.44); //darken
            // TODO: add padding-top to first & last elements
            // padding: 0.1rem 0 0.2rem 4rem;
            padding-left: 4rem;
            padding-right: 0;
            & > li {
               & > a {
                  display: inline-block;
                  width: 100%;
                  color: #909090;
                  padding: 0.6rem 1.5rem;
                  border-left: 2px dashed #2e3f50;
                  &.active {
                     color: #e0e0e0;
                     // transition: color 200ms linear;
                  }
               }
               &:hover > a:not(.active) {
                  transition: color 160ms linear;
                  color: #b4b6b4;
               }

               &:first-of-type > a {
                  padding-top: 0.7rem;
               }
               &:last-of-type > a {
                  padding-bottom: 0.9rem;
               }
            }
         }
      }
   }
}

//* Header *//
#main {
   margin-top: $navbar-top-height;
   #main-content {
      margin-top: #{$navbar-top-height + $header-height + 2rem};
      @media (min-width: $bootstrap-sm-min-width) {
         margin-left: $sidebar-width;
      }
   }
   .header {
      position: fixed;
      top: $navbar-top-height;
      width: 100%;
      height: $header-height;
      border-bottom: 1px solid #E9EAEB;
      box-sizing: content-box;
      z-index: 1010;
      background-color: #FFF;
      @media (min-width: $bootstrap-sm-min-width) {
         width: calc(100% - #{$sidebar-width});
      }
      ul.breadcrumbs-list {
         height: $header-height;
         padding-left: 3.5rem;
         list-style: none;
         font-size: 1.7rem;
         // font-weight: 600;
         line-height: 4.3rem;
         color: #858D8D;
         overflow-x: auto;
         overflow-y: hidden;
         white-space: nowrap;
         @media (max-width: $bootstrap-xs-max-width) {
            padding-left: 1.2rem;
         }
         li {
            display: inline-block;
            max-width: 15rem;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            .chevron {
               font-size: 1.4rem;
            }
            a {
               color: #9CA4A4;
               transition: color 200ms ease;
               &:hover {
                  color: darken(#9CA4A4, 14%);
               }
            }
            &:nth-last-child(2) {
               a {
                  color: lighten($color-primary, 5%);
                  &:hover {
                     color: darken($color-primary, 3%);
                  }
               }
            }
            &:last-of-type {
               max-width: unset;
               a {
                  padding-right: 1.5rem;
                  color: lighten(#9CA4A4, 10%);
                  &:hover {
                     color: lighten(#9CA4A4, 5%);
                  }
               }
            }
         }
      }
      .last-update {
         float: right;
         margin-left: 0.8rem;
         border-left: 1px solid #E9EAEB;
         padding-left: 1.5rem;
         padding-right: 3.5rem;
         line-height: 4.4rem;
         @media (max-width: $bootstrap-xs-max-width) {
            margin-left: 0.5rem;
            padding-right: 1.2rem;
         }
         * {
            transition: color 200ms ease-in-out;
         }
         &:hover {
            .icon, .icon-tiny, .day-month, .year {
               color: darken($color-primary, 3%);
            }
         }
         .icon {
            display: inline-block;
            position: relative;
            top: -2px;
            font-size: 2.1rem;
            color: lighten($color-primary, 5%);
         }
         .day-month {
            font-size: 2.2rem;
            color: #858D8D;
         }
         .year {
            font-size: 1.5rem;
            color: #9CA4A4;
            @media (max-width: $bootstrap-xs-max-width) {
               display: none;
            }
         }
         .icon-tiny {
            font-size: 1.2rem;
            color: #9CA4A4;
         }
      }
   }
}

// Shrunken sidebar adjustments
body.mini-sidebar {
   @media (min-width: $bootstrap-sm-min-width) {
      #main {
         #main-content {
            margin-left: $sidebar-width-shrunken;
         }
         .header {
            width: calc(100% - #{$sidebar-width-shrunken});
         }
      }
      #navbar-top #nav-brand {
         width: $sidebar-width-shrunken;
         padding: 1.5rem 1rem;
         font-size: 2rem;
         img {
            height: unset;
            width: #{$sidebar-width-shrunken - 1rem};;
            margin: 0 -1rem;
         }
      }
      #sidebar {
         width: $sidebar-width-shrunken;
         .nav-tabs > li {
            width: 100%;
         }
         ul.nav-menu > li {
            &.tab-content-header {
               padding: 1.5rem 1.1rem;
            }
            &:not(.tab-content-header) {
               & > .menu-entry {
                  .menu-icon {
                     width: 100%;
                  }
                  .menu-title {
                     display: none;
                  }
                  .menu-badge {
                     display: none;
                  }
               }
               & > a.menu-entry, & > span.menu-entry .sub-menu-entry-main {
                  padding-right: 2rem;
                  padding-left: 2rem;
               }
               & > span.menu-entry .sub-menu-entry-main {
                  width: 100%;
               }
               &.active {
                  & > a.menu-entry {
                     padding-left: #{$sidebar-menu-entry-padding-left - 0.5rem};
                  }
                  & > span.menu-entry .menu-entry-collapsible-main {
                     padding-left: #{$sidebar-menu-entry-padding-left - 0.5rem};
                  }
               }
            }
         }
      }
   }
}