// 
//	Dashboard styling 
//
// 
@import "https://fonts.googleapis.com/css?family=Roboto";

// Breakpoints
// -Custom 
$custom-smr-lv1-min-width: 420px;
$custom-smr-lv1-max-width: $bootstrap-xs-max-width;
$custom-smr-lv2-min-width: 460px;
$custom-smr-lv2-max-width: $bootstrap-xs-max-width;
$custom-smr-lv3-min-width: 590px;
$custom-smr-lv3-max-width: $bootstrap-xs-max-width;
//$custom-xlg-min-width: 1605px;
// -Minor 
$indicator-title-shorten-min1-width: $custom-smr-lv1-min-width;
$indicator-title-shorten-max1-width: 650px;
$indicator-title-shorten-min2-width: $bootstrap-sm-min-width;
$indicator-title-shorten-max2-width: 1330px;
$indicator-measure-minor-full-line-min-width: $indicator-title-shorten-min1-width;
$indicator-measure-minor-full-line-max-width: 475px;
$advancement-indicators-abreast-pos1-min-width: $custom-smr-lv2-min-width;
$advancement-indicators-abreast-pos1-max-width: 560px;
$advancement-indicators-stacked-max-width: $advancement-indicators-abreast-pos1-min-width - 1;
$advancement-indicators-abreast-pos2-min-width: $advancement-indicators-abreast-pos1-max-width + 1;
$advancement-indicators-abreast-pos2-max-width: $bootstrap-sm-max-width;
// Timeline dot properties
$timeline-date-block-width: 4.8rem;
$timeline-dot-square-size: 1.6rem;
$timeline-dot-top-offset: 1.55rem;
$timeline-dot-left-offset: -1.1rem;
$timeline-dot-border-width: 0.3rem;
//$timeline-dots-light-color: hsl(126, 53%, 63%);
//$timeline-first-dot-light-color: hsl(37, 99%, 71%);
$timeline-dots-light-color: #C6DBEF;
$timeline-first-dot-light-color: #6BAED6;
$timeline-piping-color: #e7dfcc;
$timeline-piping-width: 0.6rem;
// #firstRow properties
$firstRow-xlg-height: 12rem;
$firstRow-xlg-margin-bottom: 2.5rem;

/*=============== Dashboard page ===============*/
#measure-chart-indicators-col {
   padding: 0;
}

.nvd3 text {
   user-select: text;
   font: inherit {
      family: calibri;
   }
}

.glyphicon {
   cursor: default;
}

// Custom breakpoints (Smaller: smr (3 levels) & ExtraLarge: xlg)
@mixin breakpoint-custom($breakpoint-name, $breakpoint-width) {
   .#{$breakpoint-name} {
      float: left;
      position: relative;
      min-height: 1rem;
      padding-right: 1.5rem;
      padding-left: 1.5rem;
      width: $breakpoint-width;
   }
}

@media (min-width: $custom-smr-lv1-min-width) and (max-width: $custom-smr-lv1-max-width) {
   @include breakpoint-custom("col-smr-lv1-4", 33.33333333%);
   @include breakpoint-custom("col-smr-lv1-6", 40.66666666%);
}

@media (min-width: $custom-smr-lv2-min-width) and (max-width: $custom-smr-lv2-max-width) {
   @include breakpoint-custom("col-smr-lv2-4", 33.33333333%);
   @include breakpoint-custom("col-smr-lv2-8", 66.66666666%);
}

@media (min-width: $custom-smr-lv3-min-width) and (max-width: $custom-smr-lv3-max-width) {
   @include breakpoint-custom("col-smr-lv3-6", 50%);
}

//@media (min-width: $custom-xlg-min-width) {
//   @include breakpoint-custom("col-xlg-2", 16.66666666%);
//   @include breakpoint-custom("col-xlg-3", 25%);
//   @include breakpoint-custom("col-xlg-4", 33.33333333%);
//   @include breakpoint-custom("col-xlg-5", 41.66666666%);
//   @include breakpoint-custom("col-xlg-6", 50%);
//   @include breakpoint-custom("col-xlg-8", 66.66666666%);
//   @include breakpoint-custom("col-xlg-9", 75%);
//   @include breakpoint-custom("col-xlg-12", 100%);
//}

//* Panel Indicators *//
.panel.panel-indicator {
   text-align: center;
   border-radius: 0;
   margin-bottom: 2.5rem;
   box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.05);
   border-top: 0.2rem solid lighten($color-primary, 10%);;
   .panel-body {
      margin-bottom: 2.0rem;
      padding-top: 0;
      padding-bottom: 0;
   }
}

.indicator-title {
   font-size: 1.7rem;
   margin: 0.5rem 0 1.5rem;
   color: #899198;
   @media (max-width: $bootstrap-sm-min-width) {
      font-size: 1.7rem;
   }
   @media (min-width: $indicator-title-shorten-min2-width) and (max-width: $indicator-title-shorten-max2-width),
   (min-width: $indicator-title-shorten-min1-width) and (max-width: $indicator-title-shorten-max1-width) {
      & span {
         display: none;
      }
   }
}

.nvd3.nv-noData, .no-data-text {
   font-size: 120%;
   font-weight: 500;
}
.no-data-text {
   margin-top: 2.5rem;
   color: #bbb;
}
.nvd3.nv-noData {
   user-select: text;
   fill: #bbb;
}

//*=============== First Row & Measures ===============*/
#firstRow {
   padding: 0;
   .panel.panel-indicator {
      height: $firstRow-xlg-height;
      margin-bottom: $firstRow-xlg-margin-bottom;
      @media (max-width: $bootstrap-sm-min-width) {
         height: 9.0rem;
      }
      @media (min-width: $indicator-measure-minor-full-line-min-width) and (max-width: $indicator-measure-minor-full-line-max-width) {
         height: 9.5rem;
      }
      .panel-body {
         margin-top: 0.8rem;
         margin-bottom: 1.5rem;
         @media (max-width: $bootstrap-xs-max-width) {
            margin-top: 0rem;
         }
         @media (max-width: $bootstrap-sm-max-width) {
            margin-bottom: 0;
         }
         @media (min-width: $indicator-measure-minor-full-line-min-width) and (max-width: $indicator-measure-minor-full-line-max-width) {
            margin-top: 0;
         }
      }
   }
   .indicator-title {
      @media (max-width: $bootstrap-xs-max-width) {
         margin-top: 0.7rem;
         margin-bottom: 0.0rem;
      }
      @media (min-width: $indicator-title-shorten-min2-width) and (max-width: $indicator-title-shorten-max2-width) {
         margin-bottom: 0.2rem;
      }
   }
   .mirror-indicators {
      margin-top: -1.4rem;
      .mirror-indicator-title {
         color: #b0b0b0;
         font-size: 1.53rem;
      }
      .mirror-indicator-measure {
         margin-top: -1rem;
         .indicator-measure {
            margin-top: 1rem;
            font-size: 4rem;
         }
         .indicator-measure-percentage {
            margin-right: -2rem;
            font-size: 2.6rem;
         }
      }
      .indicator-measure {
         font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
         // font-family: $font-number-indicator;
         font-size: 4rem;
         @media (max-width: $bootstrap-xs-max-width) {
            font-size: 3.5rem;
         }
         &-neutral {
            color: $font-color-dark;
         }
         &-good {
            color: #49914a;
         }
         &-bad {
            color: #a94442;
         }
      }
      & > div:first-of-type {
         .mirror-indicator-measure:first-of-type:after {
            content: "";
            position: absolute;
            display: block;
            top: 1.6rem;
            right: 0;
            height: 5.5rem;
            border-right: 2px solid #e5e5e5;
         }
      }
   }
   #status-global {
      width: 5.0rem;
      height: 5.0rem;
      border-radius: 50%;
      margin: 0.8rem auto 0;
      opacity: 0.87;
      transition: opacity 250ms linear;
      &:hover {
         opacity: 1;
      }
      @media (max-width: $bootstrap-xs-max-width) {
         width: 4.7rem;
         height: 4.7rem;
      }
      &.status {
         &-GREEN {
            background-color: #64CF6F;
         }
         &-ORANGE {
            background-color: #f4953b;
         }
         &-RED {
            background-color: #dc5050;
         }
      }

   }

   .indicator-measure-minor {
      span {
         display: visible;
         @media (min-width: $indicator-title-shorten-min2-width) and (max-width: $indicator-title-shorten-max2-width),
         (min-width: $indicator-measure-minor-full-line-min-width) and (max-width: $indicator-measure-minor-full-line-max-width) {
            display: none;
         }
      }
      div {
         display: none;
         @media (min-width: $indicator-title-shorten-min2-width) and (max-width: $indicator-title-shorten-max2-width),
         (min-width: $indicator-measure-minor-full-line-min-width) and (max-width: $indicator-measure-minor-full-line-max-width) {
            display: block; /* TODO: How to make initial / default ??? */
            margin-top: -1.5rem;
         }
      }
   }
}

//*=============== Advancement & SubAdvancements ===============*/
#advancement-indicators {
   .panel.panel-indicator {
      height: 21.0rem;
      @media (max-width: $advancement-indicators-stacked-max-width) {
         height: 34.6rem;
      }
      //@media (min-width: $custom-xlg-min-width) {
      //   height: 41.6rem;
      //}
      .panel-body {
         margin-bottom: 0;
         @media (min-width: $advancement-indicators-abreast-pos1-min-width) and (max-width: $advancement-indicators-abreast-pos1-max-width) {
            margin-left: 1%;
         }
      }
   }
   &.no-sub-advancements {
      .panel.panel-indicator {
         @media (max-width: $custom-smr-lv2-min-width) {
            height: 21.0rem;
         }
      }
      #advancement-chart {
         display: none;
         @media (min-width: $custom-smr-lv2-min-width) {
            display: block;
            margin-left: -7rem;
         }
      }
   }
   #advancement-measure {
      height: 20.0rem;
      /*width: 20.0rem !important;*/
      margin-top: -3.0rem;
      @media (max-width: $advancement-indicators-abreast-pos2-max-width) {
         margin-top: -2.6rem;
      }
      @media (min-width: $advancement-indicators-abreast-pos1-min-width) and (max-width: $advancement-indicators-abreast-pos1-max-width) {
         margin-left: -2.4rem;
         margin-right: 1.5rem;
         padding: 0;
      }
      @media (min-width: $advancement-indicators-abreast-pos1-min-width) and (max-width: $advancement-indicators-abreast-pos2-max-width) {
         margin-top: -2.4rem;
      }
      //@media (min-width: $custom-xlg-min-width) {
      //   margin-top: -1.0rem;
      //}
      svg {
         width: 19.0rem;
         height: 19.0rem;
         overflow: visible;
         display: inline;
         text-align: center;
      }
      .nvd3.nv-pie {
         .nv-pie-title {
            font-size: 4.3rem !important;
            /* TODO: beware maybe for there are many in inherited (could be wrong guess here) */
            font-family: $font-number-indicator;
            fill: $font-color-dark;
         }
         path {
            /*stroke: none;*/
         }
      }
   }
   #advancement-chart {
      /*overflow: hidden;*/
      @media (max-width: $custom-smr-lv1-min-width - 1) {
         margin-left: -3.6rem;
         padding-right: 0.6rem;
      }
      @media (min-width: $advancement-indicators-abreast-pos1-min-width) and (max-width: $advancement-indicators-abreast-pos1-max-width) {
         padding: 0;
      }
      svg {
         height: 18.5rem;
         margin-left: 2.0rem;
         margin-top: -0.8rem;
         @media (max-width: $custom-smr-lv2-max-width) {
            margin-top: -4.4rem;
         }
         @media (min-width: $custom-smr-lv2-min-width) and (max-width: $custom-smr-lv2-max-width) {
            margin-top: -0.8rem;
         }
      }
      .nvd3 .nv-axis {
         pointer-events: auto;
         &.nv-x text {
            fill: $font-color-dark;
            font-weight: bold;
         }
         /* &.nv-x line,  */
         &.nv-y line {
            display: none;
         }
      }
   }
}

//*=============== Pies' Row ===============*/
#piesRow {
   padding: 0;
   //@media(min-width: $custom-xlg-min-width) {
   //   margin-top: #{- ($firstRow-xlg-height + $firstRow-xlg-margin-bottom)};
   //}
   .panel.panel-indicator .panel-body {
      height: 12.6rem;
      position: relative;
      //@media(min-width: $custom-xlg-min-width) {
      //   height: 19.9rem;
      //}
      & > div {
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
      }
   }
   svg {
      position: relative;
      bottom: 0.9rem;
      width: 28.0rem;
      height: 17.0rem;
      //@media(min-width: $custom-xlg-min-width) {
      //   height: 21rem;
      //}
   }
   .glyphicon.glyphicon-filter {
      position: absolute;
      top: calc(100% - 3rem);
      color: #d9d9d9;
      opacity: 0.9;
      font-size: 1.2rem;
      right: 10%;
   }
   .nvd3.nv-pieChart {
      .nv-slice path {
         stroke: none;
         fill-opacity: 0.87;
         &.hover path {
            fill-opacity: 1;
         }
      }
      .nv-pieLabels text {
         transform: translate(0, 0.8rem);
         font-family: $font-number-indicator;
         font-size: 1.9rem;
         fill: rgb(60, 60, 60) !important;
         //@media (min-width: $custom-xlg-min-width) {
         //   font-size: 2.3rem;
         //}
      }
      .nv-legend-text {
         font-size: 100%;
         fill: rgb(65, 65, 65);
      }
   }
}

//*=============== Dates & Milestones ===============*/
#milestones-col {
   .panel.panel-indicator .panel-body {
      height: auto;
      max-height: 32.6rem;
      margin-top: 1.6rem;
      margin-bottom: 2.0rem;
      padding: 0 1.5rem 0 2.5rem;
      overflow-x: unset;
      overflow-y: auto;
      @media (min-width: $bootstrap-sm-min-width) {
         height: auto;
         max-height: 35.6rem;
      }
      @media (min-width: $bootstrap-md-min-width) {
         height: #{35.5rem + ($firstRow-xlg-height + $firstRow-xlg-margin-bottom)};
         max-height: unset;
      }
      //@media (min-width: $custom-xlg-min-width) {
      //   height: 48.5rem;
      //   max-height: unset;
      //}
   }
   ul#timeline {
      display: table;
      margin: auto;
      padding-left: 0.0rem;
      list-style: none;
      text-align: left;
      transition: background-color 250ms linear;
      & > li {
         display: table-row;
      }
      .milestone {
         &-date,
         &-title,
         &-year {
            display: table-cell;
            position: relative;
         }
         &-date,
         &-title {
            padding: 0.8rem 0 0.4rem;
            font-size: 1.8rem;
         }
         &-date {
            // Little hack in case the right cell (timeline-title) text is very short
            width: 0.1rem;
            padding-right: 1.5rem;
            border-right: $timeline-piping-width solid $timeline-piping-color;
            div {
               display: block;
               width: $timeline-date-block-width;
            }
         }
         &-title {
            color: #444;
            //@media (min-width: $custom-xlg-min-width) {
            //   font-size: 2.0rem;
            //}
            & > * {
               margin-top: 0.2rem;
               margin-left: 1.4rem;
            }
         }
         &-year {
            div {
               display: block;
               width: 3.6rem;
               margin-top: 0.5rem;
               // margin-bottom: 0.1rem;
               margin-left: -2.2rem;
               border: 0.1rem solid $timeline-piping-color;
               border-radius: 16%;
               line-height: 1.4rem;
               font-size: 1.2rem;
               font-weight: bold;
               color: #999999;
               text-align: center;
               background-color: $timeline-piping-color;
               opacity: 1;
            }
         }
         &-dot {
            display: block;
            position: absolute;
            top: $timeline-dot-top-offset;
            left: $timeline-dot-left-offset;
            width: $timeline-dot-square-size;
            height: $timeline-dot-square-size;
            border: $timeline-dot-border-width solid $timeline-piping-color;
            border-radius: 50%;
            background-color: $timeline-dots-light-color;
            transition: background-color 200ms linear;
            //@media (min-width: $custom-xlg-min-width) {
            //   top: #{$timeline-dot-top-offset + 0.2rem};
            //}
         }
      }
      // Dynamic decoration
      & > li {
         &:nth-child(2) .milestone-dot {
            background-color: $timeline-first-dot-light-color;
         }
         // Timeline start & end Dots' linking-excess pruning
         &:first-of-type .milestone-date::before,
         &:last-of-type .milestone-date::before {
            content: "";
            position: absolute;
            left: #{$timeline-date-block-width + 1rem};
            width: $timeline-dot-square-size;
            background-color: white;
         }
         &:first-of-type .milestone-date::before {
            top: 0;
            height: $timeline-dot-top-offset;
         }
         &:last-of-type .milestone-date::before {
            bottom: 0;
            height: calc(100% - #{$timeline-dot-square-size + $timeline-dot-top-offset - $timeline-dot-border-width});
         }
         // Opacity decoration & animation
         .milestone-text {
            opacity: 0.8;
            transition: opacity 250ms linear;
         }
         &:nth-child(2) .milestone-text {
            opacity: 1;
         }
         &:hover {
            .milestone-text {
               opacity: 1;
            }
            .milestone-dot {
               background-color: darken($timeline-first-dot-light-color, 14%);
            }
            &:nth-child(2) .milestone-dot {
               background-color: darken($timeline-first-dot-light-color, 16%);
            }
         }
      }
   }
}