@import "http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700";
@import "http://fonts.googleapis.com/css?family=Fanwood+Text:400,400italic";


$sidebar-width: 27rem;


body {
	/* Take navbar height into account with padding-top */
	padding-top: 5.5rem;
	font-size: 1.4rem;
	font-family: "Open Sans", sans-serif;
}

//bootstrap override
.navbar-collapse, .navbar-header {
	margin: 0 !important;
}
.form-control {
    box-shadow: none;
    color: #7d8282;
}
.form-control:focus {
    border-color: #3ba0ff;
    -webkit-box-shadow: none;
    box-shadow: none;
}
a {
	color:#3ba0ff;
}
a:focus {
	outline:none;
}
.navbar .navbar-nav > li > .dropdown-menu {
    -webkit-box-shadow: none;
    box-shadow: none;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    background-color: #3ba0ff;
    color: #fff;
}
.list-group-item {
    border-color: #e1dddd;
    border-color: rgba(205,200,200,0.61);
}
a.list-group-item:hover, a.list-group-item:focus {
    background-color: #fcfcfc;
}
.navbar li.dropdown.icons-dropdown a.list-group-item i {
    margin-right: 5px;
    font-size: 20px;
}

#navbar-header {
	margin-left: 0;
	height: 5.7rem;
	border-bottom: 1px solid #E9EAEB;
	background-color: #3ba0ff;
	@media (min-width: 768px) {
	    background-color: #fff;
		padding-right: 1.5rem;
	}
	#navbar {
		float: right;
		background-color: #fff;
		@media (max-width: 767px) {
			float: none;
		}
		& > ul > li {
			& > .dropdown-menu {
			    right: -1.5rem;
			    left: auto;
			    // margin-top: 0px;
			    background: #fff;
			    border-radius: 4px;
			}
			& > a {
			    line-height: 30px;
			    font-size: 15px;
				padding-top: 1.7rem;
			    border-color: #ddd;
				height: 5.6rem;
				&:hover {
			    	background: #fcfcfc;
				}
				&:focus {
				    background: #fafafa;
				}
			}
		}
		.nav-icon {
		    font-size: 16px;
		}
		img.profile-image {
		    height: 40px;
		    margin-top: -8px;
		    cursor: pointer;
		}
		.profile-name {
			margin-top: -3px;
		}
	}
	#outdent-icon {
		&:hover {
	    	background: #fcfcfc;
		}
		&:focus {
		    background: #fafafa;
		}		
	}
	ul.nav-icons {
		display: inline-block;
		margin: 0;
		@media (max-width: 767px) {
			width: 100%;
		}
		#navbar li:hover > a {
			background-color: #FCFCFC;
		}
		li {
			float: left;
			@media (max-width: 767px) {
				&:hover, &:focus {
					background-color: none;
				}
			}
		}
	}
	a.nav-icon {
		line-height: 2.8rem;
		font-size: 2.1rem;
		color: #7D8282;
		height: 5.6rem;
		@media (max-width: 767px) {
			font-size: 2.4rem;
			line-height: 3.8rem; 
			color: #fff;
			&:hover {
				background-color: none;
			}
		}
	}
	.container-fluid {
		padding: 0;
	}
	.navbar-header-brand {
		display: inline-block;
		text-decoration: none;
	    font-family: 'Fanwood Text',serif;
	    font-style: italic;
	    font-size: 35px;
	    color: #fff;
	    background-color: #3ba0ff;
	    width: $sidebar-width;
	    height: 57px;
	    text-align: center;
	}
	.navbar-title {
		line-height: 20px;
		width: auto;
		height: 35px;
		text-align: center;
		margin: 15px 15px 0;
	    white-space: nowrap;
	    overflow: hidden;
	    text-overflow: ellipsis;
	    font-family: 'Fanwood Text',serif;
	    font-style: italic;
	    font-size: 35px;
	    color: #fff;
	}
	.navbar-search {
	    width: inherit!important;
		margin-top: 0.2rem;
	    display: inline;
	    border-radius: 2rem;
	}
}


/* Sidebar */
#sidebar {
	width: $sidebar-width;
	background-color: #253341;
	overflow-x: hidden;
	overflow-y: auto;
	@media (min-width: 768px) {
		position: fixed;
		top: 5.7rem;
		bottom: 0;
		left: 0;
		z-index: 1000;
	}
	.nav-tabs {
		border-bottom: none;
		& > li {
			width: 50%;
			margin-bottom: 0;
			& > a {
				text-align: center;
				background-color: unset;
				color: #fff;
				border: none;
				font-size: 1.8rem;
			}
			&.active {
				& > a {
					color: #3ba0ff;
					border-bottom: 1px solid #3ba0ff;
				}
			}
		}
	}
	.tab-content .tab-pane {
		font-size: 1.3rem;
		ul {
			list-style: none;
		}
		li {
			display: block;
		}
		a {
			text-decoration: none;
		}
		& > ul > li {
			&.tab-content-header {
				color: #fff;
				padding: 1.5rem 1.7rem;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
			}
			&:not(.tab-content-header) {
				& > a {
					display: inline-block;
					width: 100%;
					margin: 0;
					padding: 1.2rem 0 0.8rem 2.2rem;
					color: #909090;
					&:hover, &:focus {
						background-color: unset;
					}
					&:hover {
						color: #b4b6b4;						
					}
					&:focus:not(:hover) {
						color: #909090;
					}
					.menu-icon {
						width: 15%;
						float: left;
						font-size: 1.7rem;
					}
					.menu-title {
						padding-top: 0.2rem;
						display: inline-block;
						width: 70%;
						overflow-wrap: break-word;
						word-wrap: break-word;
						-ms-word-break: break-all;
						word-break: break-word;
					}
					.menu-badge {
						width: 15%;
						float: right;
						font-size: 1.7rem;
						.dropdown-arrow {
							padding-left: 40%;
						}
					}
				}
				&.active > a {
					padding-left: 1.9rem; //15px - 0.3rem
					border-left: 0.3rem solid #3ba0ff;
					color: #b4b6b4;
					background-color: #2e3f50; //lighten
				}
				& > ul {
					height: 0;
					transition: height 220ms linear;
					overflow: hidden;
					background: rgba(19,34,50,0.44); //darken
					padding-left: 4rem;
					// TODO: add padding-top to first & lqst elements
					// padding: 0.1rem 0 0.2rem 4rem;
					padding-left: 4rem;
					padding-right: 0;
					& > li {
						& > a {
							display: inline-block;
							width: 100%;
							color: #909090;
							padding: 0.6rem 1.5rem;
						    border-left: 2px dashed #2e3f50;
						    &.active {
						    	color: #e0e0e0;
						    }
						}
						&:hover > a:not(.active) {
							color: #b4b6b4;
						}

						&:first-of-type > a {
							padding-top: 0.7rem;
						}
						&:last-of-type > a {
							padding-bottom: 0.7rem;						
						}
					}
				}
			}
		}
	}
}