/* 
 *	Dashboard styling 
 * 
 */ 

// Global variables 
$body-bg-color: #FDFCFC; 
// Breakpoints 
// -Bootstrap 
$bootstrap-lg-min-width: 1200px; 
$bootstrap-md-max-width: $bootstrap-lg-min-width - 1; 
$bootstrap-md-min-width: 992px; 
$bootstrap-sm-max-width: $bootstrap-md-min-width - 1; 
$bootstrap-sm-min-width: 768px; 
$bootstrap-xs-max-width: $bootstrap-sm-min-width - 1; 
// -Custom 
$custom-smr-lv1-min-width: 420px; 
$custom-smr-lv1-max-width: $bootstrap-xs-max-width; 
$custom-smr-lv2-min-width: 460px; 
$custom-smr-lv2-max-width: $bootstrap-xs-max-width; 
$custom-smr-lv3-min-width: 590px; 
$custom-smr-lv3-max-width: $bootstrap-xs-max-width; 
$custom-xlg-min-width: 1605px; 
// -Minor 
$indicator-title-shorten-min1-width: $custom-smr-lv1-min-width; 
$indicator-title-shorten-max1-width: 500px; 
$indicator-title-shorten-min2-width: $bootstrap-md-min-width; 
$indicator-title-shorten-max2-width: 1150px; 
$indicator-measure-minor-full-line-min-width: $indicator-title-shorten-min1-width; 
$indicator-measure-minor-full-line-max-width: 475px; 
$advancement-indicators-abreast-pos1-min-width: $custom-smr-lv2-min-width; 
$advancement-indicators-abreast-pos1-max-width: 560px; 
$advancement-indicators-stacked-max-width: $advancement-indicators-abreast-pos1-min-width - 1; 
$advancement-indicators-abreast-pos2-min-width: $advancement-indicators-abreast-pos1-max-width + 1; 
$advancement-indicators-abreast-pos2-max-width: $bootstrap-sm-max-width; 
// Timeline dot properties
$timeline-dot-square-size: 1.6rem;
$timeline-dot-top-offset: 1.55rem;
$timeline-dot-left-offset: -1.1rem;
$timeline-dot-border-width: 0.3rem;
$timeline-dots-light-color: hsl(126, 53%, 63%);
$timeline-first-dot-light-color: hsl(37, 99%, 71%);
$timeline-piping-color: #e7dfcc;
$timeline-piping-width: 0.6rem;


/*=============== General ===============*/ 	 
	/* Navbar & Sidebar */ 
	@import 'navbar-sidebar'; 

	/* Miscellaneous */ 
	html {
		font-size: 62.5%; 
		/* TODO: Using pixels here because of external 
				frameworks (bootstrap) using it */ 
		/*font-size: 1px;*/ 
	}
	body {
		background-color: $body-bg-color; 
	}
	.nvd3 text {
		font: inherit {
			family: calibri; 
		}
	}
	#measure-chart-indicators-col {
		padding: 0; 
	}
	#chart-indicators {
		padding: 0; 
	}
	.glyphicon {
		cursor: default; 
	}

	.hyphenate {
		overflow-wrap: break-word;
		word-wrap: break-word;
		-ms-word-break: break-all;
		word-break: break-word;
		-ms-hyphens: auto;
		-moz-hyphens: auto;
		-webkit-hyphens: auto;
		hyphens: auto;
	}
	/* Restrict targetting to Edge */
	_:-ms-lang(x), _::-webkit-meter-bar,
	.hyphenate {
		// Avoid Edge hyphenation (overflow prob.)
		word-break: break-all;
	}

	/* Custom breakpoints (Smaller: smr (3 levels) & ExtraLarge: xlg) */ 
	$breakpoint-styled-with-width-of: " 
			float: left; 
			position: relative; 
			min-height: 1rem; 
			padding-right: 1.5rem; 
			padding-left: 1.5rem; 
			width"; 
	@media (min-width: $custom-smr-lv1-min-width) and (max-width: $custom-smr-lv1-max-width) {
		.col-smr-lv1-6 {
			#{$breakpoint-styled-with-width-of}: 50%; 
		}
	}
	@media (min-width: $custom-smr-lv2-min-width) and (max-width: $custom-smr-lv2-max-width) {
		// .col-smr-lv2-4, .col-smr-lv2-8 {
		//	 float: left; 
		//	 position: relative; 
		//	 min-height: 1rem;		 
		//	 padding-right: 15rem; 
		//	 padding-left: 15rem;				 
		// }
		.col-smr-lv2-4 {
			#{$breakpoint-styled-with-width-of}: 33.33333333%;		 
		}
		.col-smr-lv2-8 {
			#{$breakpoint-styled-with-width-of}: 66.66666666%;		 
		}
	}
	@media (min-width: $custom-smr-lv3-min-width) and (max-width: $custom-smr-lv3-max-width) {
		.col-smr-lv3-6 {
			#{$breakpoint-styled-with-width-of}: 50%; 
		}
	}
	@media (min-width: $custom-xlg-min-width) {
		// .col-xlg-3, .col-xlg-4, .col-xlg-6, .col-xlg-8, .col-xlg-9, .col-xlg-12 {
		//	 float: left; 
		//	 position: relative; 
		//	 min-height: 1rem; 
		//	 padding-right: 15rem; 
		//	 padding-left: 15rem;	 
		// }
		.col-xlg-3 {
			#{$breakpoint-styled-with-width-of}: 25%; 
		}
		.col-xlg-4 {
			#{$breakpoint-styled-with-width-of}: 33.33333333%; 
		}
		.col-xlg-6 {
			#{$breakpoint-styled-with-width-of}: 50%; 
		}
		.col-xlg-8 {
			#{$breakpoint-styled-with-width-of}: 66.66666666%; 
		}
		.col-xlg-9 {
			#{$breakpoint-styled-with-width-of}: 75%; 
		}
		.col-xlg-12 {
			#{$breakpoint-styled-with-width-of}: 100%; 
		}
	}
	 
	/* Main content view */ 
	#main {
		padding: {
			top: 1.3rem; 
			left: 1.5rem; 
			right: 1.5rem; 
		}
		@media (min-width: $bootstrap-sm-min-width) {
			padding-right: 0.5rem; 
			padding-left: 27rem;  //$sidebar-width
		}
	}

	/* Panel Indicators */ 
	.panel.panel-indicator {
		text-align: center; 
		border-radius: 0; 
		margin-bottom: 2.5rem; 
		box-shadow: 0 0.5rem 0.5rem rgba(0,0,0,.05); 
		border-top: 0.2rem solid #D5D5D5; 
		.panel-body {
			margin-bottom: 2.0rem; 
			padding-top: 0; 
			padding-bottom: 0; 
		}
    }
    .indicator-title {
        font-size: 1.9rem; 
        margin-top: 1.5rem; 
        color: #909090; 
        @media (max-width: $bootstrap-sm-min-width) {
            font-size: 1.7rem; 
        }
        @media (min-width: $indicator-title-shorten-min2-width) and (max-width: $indicator-title-shorten-max2-width), 
                (min-width: $indicator-title-shorten-min1-width) and (max-width: $indicator-title-shorten-max1-width) {
            & span {
                display: none; 
            }
        }
    }




/*=============== First Row & Measures ===============*/ 
	#firstRow {
        .panel.panel-indicator {
            height: 12.0rem; 
            @media (max-width: $bootstrap-sm-min-width) {
                height: 9.0rem; 
            }
            @media (min-width: $indicator-measure-minor-full-line-min-width) and (max-width: $indicator-measure-minor-full-line-max-width) {
                height: 9.5rem; 
            }
            .panel-body {
                margin-top: -0.5rem; 
                margin-bottom: 1.5rem; 
                @media (max-width: $bootstrap-xs-max-width) {
                    margin-top: -0.1rem; 
                }
                @media (max-width: $bootstrap-sm-max-width) {
                    margin-bottom: 0; 
                }
                @media (min-width: $indicator-measure-minor-full-line-min-width) and (max-width: $indicator-measure-minor-full-line-max-width) {
                    margin-top: 0rem; 
                }
            }
        }
        #last-update-indicator, #charge-consumed-indicator {
            @media (min-width: $indicator-measure-minor-full-line-min-width) and (max-width: $indicator-measure-minor-full-line-max-width) {
                .panel.panel-indicator .panel-body {
                    margin-top: -.4rem; 
                }
            }
        }
        .indicator-title {
            @media (max-width: $bootstrap-xs-max-width) {
                margin-top: 0.7rem; 
                margin-bottom: 0.0rem; 
            }
            @media (min-width: $indicator-title-shorten-min2-width) and (max-width: $indicator-title-shorten-max2-width) {
                margin-bottom: 0.2rem; 
            }
        }
		.indicator-measure {
			font-size: 4.9rem; 
            @media (max-width: $bootstrap-xs-max-width) {
                font-size: 4.3rem; 
            }
		}
		#status-light {
			width: 5.0rem; 
			height: 5.0rem; 
			border-radius: 50%; 
			background-color: #64CF6F; 
			margin: 0.8rem auto 0; 
			opacity: 0.87; 
			transition: opacity 250ms linear; 
			&:hover {
				opacity: 1; 
			}
            @media (max-width: $bootstrap-xs-max-width) {
                width: 4.7rem; 
                height: 4.7rem; 
            }
		}

    	.indicator-measure-minor {
            span {
        		display: visible; 
                @media (min-width: $indicator-title-shorten-min2-width) and (max-width: $indicator-title-shorten-max2-width), 
                        (min-width: $indicator-measure-minor-full-line-min-width) and (max-width: $indicator-measure-minor-full-line-max-width) {
                    display: none; 
                }
            }
            div {
        		display: none; 
                @media (min-width: $indicator-title-shorten-min2-width) and (max-width: $indicator-title-shorten-max2-width), 
                        (min-width: $indicator-measure-minor-full-line-min-width) and (max-width: $indicator-measure-minor-full-line-max-width) {
                    display: block; /* TODO: How to make initial / default ??? */ 
                    margin-top: -1.5rem; 
                }
            }
    	}
    }


/*=============== Advancement & SubProjects ===============*/ 
    #advancement-indicators {
    	.panel.panel-indicator {			 
            height: 21.0rem; 
            @media (max-width: $advancement-indicators-stacked-max-width) {
                height: 34.6rem; 
            }
            @media (min-width: $custom-xlg-min-width) {
                height: 41.6rem; 
            }
            .panel-body {
                margin-bottom: 0; 
                @media (min-width: $advancement-indicators-abreast-pos1-min-width) and (max-width: $advancement-indicators-abreast-pos1-max-width) {
                    margin-left: 1%; 
                }
            }
    	}
		#advancement-measure {
			height: 20.0rem; 
			/*width: 20.0rem !important;*/ 
			margin-top: -3.0rem; 
            @media (max-width: $advancement-indicators-abreast-pos2-max-width) {
                margin-top: -2.6rem; 
            }
            @media (min-width: $advancement-indicators-abreast-pos1-min-width) and (max-width: $advancement-indicators-abreast-pos1-max-width) {
                margin-left: -2.4rem; 
                margin-right: 1.5rem; 
                padding: 0; 
            }
            @media (min-width: $advancement-indicators-abreast-pos1-min-width) and (max-width: $advancement-indicators-abreast-pos2-max-width) {
                margin-top: -2.4rem; 
            }
            @media (min-width: $custom-xlg-min-width) {
                margin-top: -1.0rem; 
            }
            svg {
                width: 19.0rem; 
                height: 19.0rem; 
                    overflow: visible; 
                    display: inline; 
                    text-align: center; 
    		}
            .nvd3.nv-pie {
                .nv-pie-title {
                    font-size: 4.3rem !important; 
                    /* TODO: beware maybe for there are many in inherited (could be wrong guess here) */ 
                    font-family: inherit; 
                    fill: rgb(51, 51, 51); 
                }
                path {
                    /*stroke: none;*/ 
                }
            }
		}
    	#advancement-chart {
    		/*overflow: hidden;*/ 
            @media (max-width: $custom-smr-lv1-min-width - 1) {
                margin-left: -3.6rem; 
                padding-right: 0.6rem; 
            }
            @media (min-width: $advancement-indicators-abreast-pos1-min-width) and (max-width: $advancement-indicators-abreast-pos1-max-width) {
                padding: 0; 
            }
            svg {
                height: 18.5rem; 
                margin-left: 2.0rem; 
                margin-top: -.8rem; 
                @media (max-width: $custom-smr-lv2-max-width) {
                    margin-top: -4.4rem; 
                }
                @media (min-width: $custom-smr-lv2-min-width) and (max-width: $custom-smr-lv2-max-width) {
                    margin-top: -0.8rem; 
                }
                @media (min-width: $custom-xlg-min-width) {
                    /*margin-top: px;*/ 
                }
            }
            .nvd3 .nv-axis {
                &.nv-x text {
                    fill: rgb(33, 33, 33); 
                    font-weight: bold; 
                }
                /* &.nv-x line,  */ 
                &.nv-y line {
                    display: none; 
                }
        	}
    	}
    }


/*=============== Pies' Row ===============*/ 
	#piesRow {
		padding: 0; 
    	.panel.panel-indicator .panel-body {
            height: 12.6rem; 
            position: relative; 
        	& > div {
        		position: absolute; 
        		top: 50%; 
        		left: 50%; 
        		transform: translate(-50%, -50%); 
        	}
        }
    	svg {
    		width: 28.0rem; 
    		height: 17.0rem; 
    		margin-top: -3.2rem; 
    	}
    	.glyphicon.glyphicon-filter {
			position: absolute; 
			top: 85%; 
			color: #d9d9d9; 
			opacity: .9; 
			font-size: 1.2rem; 
			right: 10%; 
        }
    	.nvd3.nv-pieChart {
	    	.nv-slice path {
    			stroke: none; 
    			fill-opacity: .87; 
	    		&.hover path {
	    			fill-opacity: 1; 
	    		}
	    	} 
	    	.nv-pieLabels text {
	    		transform: translate(0, 0.6rem); 
	    		font-family: "Helvetica Neue", Helvetica, Arial ,"sans-serif"; 
	    		font-size: 1.9rem; 
	    		fill: rgb(51, 51, 51) !important; 
	    	}
	    	.nv-legend-text {
	    		font-size: 100%; 
	    		fill: rgb(65, 65, 65); 
	    	}
	    }
	}


/*=============== Dates & Milestones ===============*/
	#milestones-col {
		.panel.panel-indicator .panel-body {
			height: auto;
			max-height: 32.6rem;
			margin-top: 1.6rem;
			margin-bottom: 2.0rem;
			padding: 0 1.5rem 0 2.5rem;
			overflow-x: unset;
			overflow-y: auto;
			@media (min-width: $bootstrap-sm-min-width) {
				height: auto;
				max-height: 35.6rem;
			}
			@media (min-width: $bootstrap-md-min-width) {
				height: 35.5rem;
				max-height: unset;
			}
			@media (min-width: $custom-xlg-min-width) {
				height: 48.5rem;
				max-height: unset;
			}
		}
    	ul#timeline {
    		display: table;
    		margin: auto; 
    		padding-left: 0.0rem;
    		list-style: none;
			text-align: left;
    		transition: background-color 250ms linear;
	    	& > li {
	    		display: table-row;
	    	}
	    	.milestone {
	    		&-date, 
		    	&-title, 
		    	&-year {
		    		display: table-cell;
		    	}
	    		&-date, 
		    	&-title {
					padding: 0.8rem 0 0.4rem;
					font-size: 1.8rem;
		    	}
		    	&-date {
		    		padding-right: 1.5rem;
		    	}
		    	&-title {
					position: relative;
		    		border-left: $timeline-piping-width solid $timeline-piping-color;
					color: #444;
					@media (min-width: $custom-xlg-min-width) {
					    font-size: 2.0rem;
					}
					& > * {
						margin-top: 0.2rem;
		    			margin-left: 1.4rem;
					}
		    	}
		    	&-year {
		    		border-left: $timeline-piping-width solid $timeline-piping-color;
			    	div {
			    		display: block;
						width: 3.6rem;
						margin-top: 0.5rem;
						// margin-bottom: 0.1rem;
						margin-left: -2.1rem;
						border: 0.1rem solid $timeline-piping-color;
						border-radius: 16%;
						line-height: 1.4rem;
						font-size: 1.2rem;
						font-weight: bold;
						color: #999999;
						text-align: center;
						background-color: $timeline-piping-color;
						opacity: 1;
			    	}
			    }
			    &-dot {
					display: block; 
					position: absolute;
				    top: $timeline-dot-top-offset;
					left: $timeline-dot-left-offset;
				    width: $timeline-dot-square-size;
				    height: $timeline-dot-square-size;
				    border: $timeline-dot-border-width solid $timeline-piping-color;
				    border-radius: 50%;
				    background-color: $timeline-dots-light-color;
		    		transition: background-color 200ms linear;
					@media (min-width: $custom-xlg-min-width) {
					    top: #{$timeline-dot-top-offset + 0.2rem};
					}
				}
	    	}
	    	// Dynamic decoration
			& > li {
				&:first-of-type .milestone-dot {
					background-color: $timeline-first-dot-light-color;
				}
				// Timeline start & end Dots' linking-excess pruning
				&:first-of-type .milestone-title::before, 
				&:last-of-type .milestone-title::before {
				    content: "";
				    position: absolute;
				    left: $timeline-dot-left-offset;
				    width: $timeline-dot-square-size;
				    background-color: white;
				}
				&:first-of-type .milestone-title::before {
				    top: 0;
				    height: $timeline-dot-top-offset + $timeline-dot-border-width;
				}
				&:last-of-type .milestone-title::before {
				    bottom: 0;
				    height: calc(100% - #{$timeline-dot-square-size + $timeline-dot-top-offset - $timeline-dot-border-width});
				}
		    	// Opacity decoration & animation
		    	.milestone-text {
		    		opacity: 0.8;
		    		transition: opacity 250ms linear;
		    	}
		    	&:first-of-type .milestone-text {
		    		opacity: 1;
		    	}
		    	&:hover {
		    		.milestone-text {
		    			opacity: 1;
			    	}
			    	.milestone-dot {
					    background-color: darken($timeline-dots-light-color, 7%);
					}
			    	&:first-of-type .milestone-dot {
					    background-color: darken($timeline-first-dot-light-color, 6%);
					}
				}
		    }
		}
	}