<div id="measure-chart-indicators-col" class="col-md-8 col-xlg-9">	
    <div id="firstRow" class="col-xlg-8">
        <div class="col-xs-12 col-smr-lv1-4 col-sm-4">
            <div class="panel panel-default panel-indicator">
              <h3 class="indicator-title">Statut <span>Projet</span></h3>
              <div class="panel-body">
                  <div id="status-global" class="status-{{data.status}}"></div>
              </div>
            </div>
        </div>
        <div class="col-xs-12 col-smr-lv1-4 col-sm-4">
            <div class="panel panel-default panel-indicator">
              <h3 class="indicator-title">Budget <span>Consommé</span></h3>
              <div class="panel-body">
                  <span class="indicator-measure">{{data.budgetConsumed}}%</span>
                  <span class="text-muted indicator-measure-minor">
                  <!-- <div></div> -->
                   <br/></span>
              </div>
            </div>
        </div>
        <div class="col-xs-12 col-smr-lv1-4 col-sm-4" id="charge-consumed-indicator">
            <div class="panel panel-default panel-indicator">
              <h3 class="indicator-title">Charge <span>Consommée</span></h3>
              <div class="panel-body">
                  <span class="indicator-measure">{{data.chargeConsumed}}</span>
                  <span class="text-muted indicator-measure-minor">
                  <!-- <div></div> -->
                       <span>H/J</span>
                       <div>H/J</div>
                   </span>
              </div>
            </div>
        </div>
    </div>

    <div id="advancement-indicators" class="col-xs-12 col-xlg-8 {{data.subAdvancementsEmpty ? 'no-sub-advancements' : ''}}">
        <div class="panel panel-default panel-indicator">
          <h3 class="indicator-title">Avancement Global</h3>
          <div class="panel-body">
              <div id="advancement-measure" class="col-xs-12 col-sm-4 col-smr-lv2-4 col-xlg-12">
                    <svg></svg>
              </div>
              <div id="advancement-chart" class="col-xs-12 col-sm-8 col-smr-lv2-8 col-xlg-12">
                    <svg></svg>
              </div>
          </div>
        </div>
    </div>
    <div id="piesRow" class="col-xlg-4">
        <div class="col-xs-12 col-smr-lv3-6 col-sm-6 col-md-6 col-xlg-12">
            <div class="panel panel-default panel-indicator">
              <h3 class="indicator-title">Actions en cours</h3>
              <div class="panel-body">
                  <div id="actionsChart">
                    <span class="glyphicon glyphicon-filter" ng-if="!data.actionsEmpty"></span>
                    <svg></svg>
                  </div>
              </div>
            </div>
        </div>
        <div class="col-xs-12 col-smr-lv3-6 col-sm-6 col-md-6 col-xlg-12">
            <div class="panel panel-default panel-indicator">
              <h3 class="indicator-title">Risques</h3>
              <div class="panel-body">
                  <div id="risksChart">
                    <span class="glyphicon glyphicon-filter" ng-if="!data.risksEmpty"></span>
                    <svg></svg>
                  </div>
              </div>
            </div>
        </div>
    </div>
</div>
<div id="milestones-col" class="col-xs-12 col-sm-12 col-md-4 col-xlg-3">
    <div class="panel panel-default panel-indicator">
        <h3 class="indicator-title">Prochains Jalons</h3>
         <div class="panel-body">
            <ul id="timeline" ng-if="data.milestones.length > 0">
                <li ng-repeat-start="milestone in data.milestones"
                    ng-if="$first || !$first && differentYearDates(data.milestones[$index - 1].dueDate, milestone.dueDate)">
                    <div class="milestone-date"></div>
                    <div class="milestone-year">
                        <div>{{milestone.dueDate | date: "yyyy"}}</div>
                    </div>
                </li>
                <li ng-repeat-end>
                    <div class="milestone-date">
                        <div class="text-muted">
                            <div class="milestone-text">{{milestone.dueDate | date:  "dd/MM"}}</div>
                        </div>
                    </div>
                    <div class="milestone-title">
                        <div class="hyphenate">
                            <div class="milestone-dot"></div>
                            <div class="milestone-text">{{milestone.name}}</div>
                        </div>
                    </div>
                </li>
            </ul>
            <div ng-if="data.milestones.length === 0" class="no-data-text">
                Aucun
            </div>
         </div>
    </div>
</div>



<!--
        TODO:
    - Fix media query bug on firefox (52.0.1) on view's switch
        then going back on different screen size
    - Fix media queries to integrate with new template
    - Add on pie slices click navigation
    - Add on panel title navigation
    - Fix height line (global advancement) with others
    - Hint to scrollbar for milestones (likely on mobile)
        if hidden while scrolling activated
    - Move to gradual relative colors in SubAdvancements Chart
    - Change color range to blue
    - Adapt pie font-size to area occupied
    - Make SubAdvancements chart's bar colors dynamic

    - Take a look at scattered TODOs
 -->