<div class="details-view">
    <div class="alert alert-{{formAlert.didSucceed ? 'success' : 'danger'}} alert-dismissable" ng-if="formAlert && formAlert.active">
        <a class="close" href="#" data-dismiss="alert" aria-label="close" ng-click="alertDismiss()">&times;</a>
        <strong>{{formAlert.didSucceed ? 'Success' : 'Failure'}}.&nbsp;</strong>{{formAlert.msg}}
    </div>

    <button class="btn btn-default" ng-click="edit()" ng-show="mode !== MODES.edit" ng-if="tableEntries">
        <i class="fa fa-pencil"></i>
    </button>
    <hr ng-if="!tableEntries">

    <div ng-if="mode !== MODES.view">
        <form class="form-horizontal form-jumbotron" name="form" novalidate ng-submit="formSubmit()">
            <div class="form-jumbotron-header">
                <button class="btn btn-primary" type="submit" ng-click="mode = MODES.view" ng-disabled="!formSubmitEnabled">
                    <i class="fa fa-save"></i>
                </button>
                <button class="btn btn-default" type="reset" ng-click="formCancel()" ng-disabled="!formSubmitEnabled">
                    <i class="fa fa-remove"></i>
                </button>
            </div>
            <div class="form-jumbotron-body">
                <div ng-repeat="formField in formFields">
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="{{formField.identifier}}">{{formField.label}}:</label>
                        <div class="col-sm-10" ng-if="formField.choices === undefined">
                            <input id="{{formField.identifier}}" class="form-control" type="text" placeholder=" {{formField.placeholder}}" required ng-if="formField.type == 'input'" ng-focus="formFocusElt(formField.identifier)" ng-model="formEntry[formField.identifier]">
                            <textarea id="{{formField.identifier}}" class="form-control" type="text" placeholder=" {{formField.placeholder}}" required ng-if="formField.type == 'textarea'"  ng-focus="formFocusElt(formField.identifier)" ng-model="formEntry[formField.identifier]"></textarea>
                            <div class="{{datePopups.formFocusedElt === formField.identifier ? '' : 'date-input-blurred'}}">
                                <input id="{{formField.identifier}}" class="form-control" type="text" placeholder=" {{formField.placeholder}}" required ng-if="formField.type == 'date'" uib-datepicker-popup="{{datePopups.format}}"  is-open="datePopups.formFocusedElt" datepicker-options="datePopups.dateOptions" alt-input-formats="datePopups.altInputFormats" show-button-bar="false" ng-focus="formFocusElt(formField.identifier); datePopups.popups[formField.identifier].opened = true" ng-model-options="{ timezone: 'UTC' }" ng-model="formEntry[formField.identifier]" ng-init="datePopups.popups[formField.identifier] = { opened: false }">
                            </div>
                        </div>
                        <div class="col-sm-10" ng-if="formField.choices !== undefined">
                            <select id="{{formField.identifier}}" class="form-control" required ng-focus="formFocusElt(formField.identifier)" ng-options="choice.identifier as choice.value for choice in formField.choices" ng-model="formEntry[formField.identifier]">
                                <option class="hidden" value=""  disabled="disabled" selected="selected">{{formField.placeholder}}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="table-responsive" ng-if="mode === MODES.view">
        <table class="main-table table table-striped table-hover">
            <tr ng-repeat="columnMap in tableEntries.columnMaps track by $index">
                <th>
                    <span>{{tableEntries.columnMaps[$index].name}}</span>
                </th>
                <td>
                    <span ng-if="!columnMap.link">
                        <!--apply different filters to data view-type-->
                        <span ng-if="!columnMap.type">{{tableEntries.details[columnMap.key]}}</span>
                        <span ng-if="columnMap.type === 'nbToString'">{{tableEntries.details[columnMap.key].slice(4)}} ({{tableEntries.details[columnMap.key][0]}})</span>
                        <span ng-if="columnMap.type === 'percentage'">{{tableEntries.details[columnMap.key]*100 | number:0}}%</span>
                        <span ng-if="columnMap.type === 'days'">{{tableEntries.details[columnMap.key] ? tableEntries.details[columnMap.key] + 'j' : ''}}</span>
                        <span ng-if="columnMap.type === 'date'">{{tableEntries.details[columnMap.key] | date: 'dd/MM/yyyy'}}</span>
                    </span>
                    <a ng-href="{{'./' + columnMap.link}}"
                       ng-if="columnMap.link">{{tableEntries.details[columnMap.key]}}</a>
                </td>
            </tr>
        </table>
    </div>
</div>

<!--
        TODO:
    - Dynamically resizing textarea (http://stackoverflow.com/questions/454202/creating-a-textarea-with-auto-resize)

    - Take a look at scattered TODOs
 -->