<div class="alert alert-{{formAlert.didSucceed ? 'success' : 'danger'}} alert-dismissable" ng-if="formAlert && formAlert.active">
	<a href="#" class="close" data-dismiss="alert" aria-label="close" ng-click="alertDismiss()">&times;</a>
	<strong>{{formAlert.didSucceed ? 'Success' : 'Failure'}}.&nbsp;</strong>{{formAlert.msg}}
</div>
<div class="collapse in form-collapse" id="form-add-entry">
	<div class="form-title">
		<div class="col-sm-offset-2 col-sm-10">
			<h3>{{formTitle}}</h3>
		</div>
	</div>
	<form class="form-horizontal" name="form" novalidate>
		<div ng-repeat="formField in formFields">
			<div class="form-group">
				<label class="control-label col-sm-2" for="{{formField.identifier}}">{{formField.label}}:</label>
				<div class="col-sm-10" ng-if="formField.choices === undefined">
					<input class="form-control" id="{{formField.identifier}}" placeholder=" {{formField.placeholder}}" required="required" ng-if="formField.type == 'input'" ng-model="formEntry[formField.identifier]" type="text">
					<textarea class="form-control" id="{{formField.identifier}}" placeholder=" {{formField.placeholder}}" ng-if="formField.type == 'textarea'" ng-model="formEntry[formField.identifier]" type="text"></textarea>
				</div>
				<div class="col-sm-10" ng-if="formField.choices !== undefined">
					<select class="form-control" id="status" required="required" ng-model="formEntry[formField.identifier]">
						<option class="hidden" value=""  disabled="disabled" selected="selected">{{formField.placeholder}}</option>
						<option ng-repeat="choice in formField.choices" value="{{choice.identifier}}">{{choice.value}}</option>
					</select>
				</div>
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				<button class="btn btn-primary" type="submit" ng-click="submit(formEntry)">Ajouter</button>
				<!-- <button class="btn btn-danger" type="submit">Supprimer</button> -->
				<button class="btn btn-default" data-toggle="collapse" data-target="#form-add-entry" type="button" ng-click="reset(form)">Annuler</button>
			</div>
		</div>
	</form>
</div>

<div class="table-responsive">
	<table class="main-table table table-striped table-hover"><div>
		<thead>
			<tr>
				<th>
					<button class="btn" data-toggle="collapse" data-target="#form-add-entry">
						<i class="fa fa-plus"></i>
					</button>
				</th>
				<th ng-repeat="columnMap in tableEntries.columnMaps">{{columnMap.name}}</th>
			</tr>
		</thead></div>
		<tbody>
			<tr ng-repeat="entry in tableEntries.rows track by $index">
				<td>
					<button class="btn" ng-click="edit(entry)">
						<i class="fa fa-pencil"></i>
					</button>
				</td>
				<td ng-repeat="columnMap in tableEntries.columnMaps track by $index">
					<span>{{entry[columnMap.key]}}</span>
				</td>
			</tr>
		</tbody>
	</table>
</div>


<!--
		TODO:
	- Let table's header always be visible, even on scroll	
	- Tweak or replace bootstrap collapse animation
	- Dynamically resizing textarea (http://stackoverflow.com/questions/454202/creating-a-textarea-with-auto-resize)

	- Take a look at scattered TODOs
 -->