
<div class="alert alert-{{formAlert.didSucceed ? 'success' : 'danger'}} alert-dismissable" ng-if="formAlert && formAlert.active">
    <a class="close" href="#" data-dismiss="alert" aria-label="close" ng-click="alertDismiss()">&times;</a>
    <strong>{{formAlert.didSucceed ? 'Success' : 'Failure'}}.&nbsp;</strong>{{formAlert.msg}}
</div>

<div class="form-collapse" uib-collapse="formCollapsed">
    <form class="form-horizontal" name="form" novalidate ng-submit="formAction.submit()">
        <div ng-repeat="formField in formFields">
            <div class="form-group">
                <label class="control-label col-sm-2" for="{{formField.identifier}}">{{formField.label}}:</label>
                <div class="col-sm-10" ng-if="formField.choices === undefined">
                    <input id="{{formField.identifier}}" class="form-control" type="text" placeholder=" {{formField.placeholder}}" required ng-if="formField.type == 'input'" ng-focus="formFocusElt(formField.identifier)" ng-model="formEntry[formField.identifier]">
                    <textarea id="{{formField.identifier}}" class="form-control" type="text" placeholder=" {{formField.placeholder}}" required ng-if="formField.type == 'textarea'"  ng-focus="formFocusElt(formField.identifier)" ng-model="formEntry[formField.identifier]"></textarea>
                    <div class="{{datePopups.formFocusedElt === formField.identifier ? '' : 'date-input-blurred'}}">
                        <input id="{{formField.identifier}}" class="form-control" type="text" placeholder=" {{formField.placeholder}}" required ng-if="formField.type == 'date'" uib-datepicker-popup="{{datePopups.format}}"  is-open="datePopups.formFocusedElt" datepicker-options="datePopups.dateOptions" alt-input-formats="datePopups.altInputFormats" show-button-bar="false" ng-focus="formFocusElt(formField.identifier); datePopups.popups[formField.identifier].opened = true" ng-model-options="{ timezone: 'UTC' }" ng-model="formEntry[formField.identifier]" ng-init="datePopups.popups[formField.identifier] = { opened: false }">
                    </div>
                </div>
                <div class="col-sm-10" ng-if="formField.choices !== undefined">
                    <select id="{{formField.identifier}}" class="form-control" required ng-focus="formFocusElt(formField.identifier)" ng-options="choice.identifier as choice.value for choice in formField.choices" ng-model="formEntry[formField.identifier]">
                        <option class="hidden" value=""  disabled="disabled" selected="selected">{{formField.placeholder}}</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button class="btn btn-primary" type="submit" ng-disabled="!formSubmitEnabled">{{formAction.submitBtnText}}</button>
                <button class="btn btn-default" type="reset" ng-click="formCancel()" ng-disabled="!formSubmitEnabled">Annuler</button>
            </div>
        </div>
    </form>
</div>

<div class="table-responsive">
    <table class="main-table table table-striped table-hover">
        <div>
            <thead>
            <tr>
                <th>
                    <button class="btn btn-default" ng-click="formCollapsed = false">
                        <i class="fa fa-plus"></i>
                    </button>
                </th>
                <th ng-repeat="columnMap in tableEntries.columnMaps">{{columnMap.name}}</th>
            </tr>
            </thead>
        </div>
        <tbody>
        <tr id="{{entry.onEdit ? 'on-edit-entry' : ''}}" ng-repeat="entry in tableEntries.rows | orderBy:defaultSortingField track by entry.id">
            <td>
                <div class="entry-edit-menu" uib-dropdown dropdown-append-to-body on-toggle="toggled(open)">
                    <button class="btn btn-default" uib-dropdown-toggle>
                        <i class="fa fa-pencil"></i>
                    </button>
                    <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
                        <li>
                            <a href="javascript:void(0)" ng-click="edit(entry.index)">Modifier</a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" ng-click="delete(entry.index)">Supprimer</a>
                        </li>
                    </ul>
                </div>
            </td>
            <td ng-repeat="columnMap in tableEntries.columnMaps track by $index">
                <span ng-if="columnMap.key !== tableEntries.linkable.columnKey">{{entry[columnMap.key]}}</span>
                <a ng-href="{{'./' + tableEntries.linkable.urlPrefix + '/' + entry.id}}"
                   ng-if="columnMap.key === tableEntries.linkable.columnKey">{{entry[columnMap.key]}}</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>


<!--
        TODO:
    - Let table's header always be visible, even on scroll
    - Dynamically resizing textarea (http://stackoverflow.com/questions/454202/creating-a-textarea-with-auto-resize)

    - Take a look at scattered TODOs
 -->