
<!-- Sidebar -->
<div id="sidebar" class="{{global.sidebarOverlayOn === true ? 'sidebar-overlay-show' : global.sidebarOverlayOn === false ? 'sidebar-overlay-hide' : ''}}" ng-cloak ng-controller="SidebarCtrl">
    <ul class="nav nav-menu">
        <li class="tab-content-header">
            <span title="{{menu.title}}">{{menu.title}}</span>
        </li>

        <li class="simple-menu {{menu.activeMenuUrl === entry.url ? 'active' : ''}}"
            ng-if="entry.entries === void(0) || (entry.entries.length === 0 && entry.fetched)"
            ng-repeat-start="(index, entry) in menu.entries" ng-click="global.sidebarOverlayOn = false; menu.menuExpandedIndex = void(0); menu.activeMenuUrl = entry.url">
            <a class="menu-entry" ng-href="{{entry.url}}">
                <span class="menu-icon"><i class="{{entry.iconClass}}"></i></span>
                <span class="menu-title">{{entry.title}}</span>
                <span class="menu-badge" ng-if="entry.notifsNb">
                    <span class="label label-danger" ng-if="entry.notifsNb">{{entry.notifsNb}}</span>
                    <!-- TODO: if more than three numerals (>1000), add title attribute -->
                    <!-- <span class="menu-badge"><span class="label label-danger" title="1000">1000</span></span> -->
                </span>
            </a>
        </li>
        <!--TODO: don't trigger ng-click for new tab (ctrl/cmd + click & mouse middle btn click) clicks-->
        <li class="collapsible-menu {{(menu.activeMenuUrl === entry.url || subMenuActiveUrlIn(entry.entries)) ? 'active' : ''}}" ng-if="entry.entries !== void(0) && entry.entries.length > 0" ng-repeat-end>
            <!--Concrete menu entry (w/ concrete url)-->
            <span class="menu-entry" ng-if="entry.url !== 'javascript:void(0)'">
                <a class="menu-entry-collapsible-main" ng-href="{{entry.url}}" ng-click="global.sidebarOverlayOn = false; menu.menuExpandedIndex = menu.menuExpandedIndex === index ? void(0) : index; menu.activeMenuUrl = entry.url" ng-init="menu.menuExpandedIndex = menu.activeMenuUrl === entry.url ? index : void(0)">
                    <span class="menu-icon"><i class="{{entry.iconClass}}"></i></span>
                    <span class="menu-title">{{entry.title}}</span>
                </a>
                <a class="menu-badge" href="javascript:void(0)"  ng-click="menu.menuExpandedIndex = (menu.menuExpandedIndex === index) ? void(0) : index">
                    <span><i class="dropdown-arrow fa fa-angle-right" ng-if="entry.fetched"></i></span>
                    <span><i class="dropdown-arrow fa fa-circle-o-notch" ng-if="!entry.fetched"></i></span><!--TODO: animate fetch loading-->
                </a>
            </span>
            <!--Shell menu entry (simple dropdown)-->
            <a class="menu-entry" ng-if="entry.url === 'javascript:void(0)'"  ng-href="{{entry.url}}" ng-click="menu.menuExpandedIndex = menu.menuExpandedIndex === index ? void(0) : index">
                <span class="menu-icon"><i class="{{entry.iconClass}}"></i></span>
                <span class="menu-title">{{entry.title}}</span>
                <span class="menu-badge">
                    <span><i class="dropdown-arrow fa fa-angle-right"></i></span>
                </span>
            </a>
            <!--Common sub entries-->
            <ul ng-show="menu.menuExpandedIndex === index || subMenuActiveUrlIn(entry.entries)">
                <li ng-repeat="subEntry in entry.entries">
                    <a ng-href="{{subEntry.url}}" class="{{menu.activeMenuUrl === subEntry.url ? 'active' : ''}}"
                       ng-click="global.sidebarOverlayOn = false; menu.activeMenuUrl = subEntry.url">{{subEntry.title}}</a>
                </li>
            </ul>
        </li>
    </ul>
</div>

<section id="main">

    <div id="main-content">

        <!-- Header -->
        <div class="header" ng-controller="HeaderCtrl">
            <a class="last-update" href="#" title="Dernière mise à jour"
               ng-if="content.updateTimeDisplayed" ng-cloak>
                <i class="icon fa fa-calendar-check-o"></i>
                &nbsp;<span class="day-month">03/02</span>
                <span class="year">/2017</span>
                &nbsp;<i class="icon icon-tiny fa fa-caret-down"></i>
            </a>
            <ul class="breadcrumbs-list">
                <li>
                    <a href="./"><i class="fa fa-home"></i></a>
                </li>
                <li ng-repeat="entry in content.entries">
                    &nbsp;<i class="chevron fa fa-caret-right"></i>
                    &nbsp;<a ng-href="{{entry.url}}" title="{{entry.title}}"><span>{{entry.title}}</span></a>
                </li>
                <li>
                    &nbsp;<i class="chevron fa fa-caret-right"></i>&nbsp;
                    <a ng-href="{{sidebar.getContent().activeMenuUrl}}"
                       title="{{sidebar.getEntryByUrl(sidebar.getContent().activeMenuUrl).title}}">
                        <span>{{sidebar.getEntryByUrl(sidebar.getContent().activeMenuUrl).title}}</span>
                    </a>
                </li>
            </ul>
        </div>

        <div class="container-fluid" ui-view ng-cloak></div>

    </div>

</section>